

	body *{
	box-sizing: border-box !important;
	color: #fff;
}
body{

	padding: 0;
	margin: 0;
	background-image: url("..//img/body.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

a:hover{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	text-decoration: none;
	color: #bd2130;
}

a{
color: #fff;

}
#item a:hover{
	display: inline-block;
	
	color: #fff;
	border-bottom: 1px solid #aaa;
	text-decoration: none;

}

.active{
	
	border-top: 4px solid #bd2130;
	
}
nav{
	/*background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);*/
background-color: #333;

	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	
}
.content{
	position: relative;
}
.logo{
	display: inline-block;
	width: 20%;
	background-color: #000;
	overflow: hidden;
}
.logo img{
	width: 100%;
	height: 100%;
}
#item{
	display: inline-block;
	width: 70%;
	height: 100%;
	padding-bottom: 6px;

}
.item{
	display: flex;
	justify-content: space-between;
	height: 45%;
	font-size: 1.5rem;
	padding: 2%;

}
.seconditem{
	display: flex;
	justify-content: space-between;
	font-size: 1.3rem;
	padding: 1.5%;

}
nav li{
	list-style: none;
	display: inline-block;
}
.search{
	flex-basis: 66%;
	height: 85%;
}
.search input{
	width: 85%;
	height: 100%;
	border: 2px solid rgba(13,76,243,0.5);
	border-radius: 10px;


}
input:focus{
	border: 2px solid #43a343;
	color: #333;

}

.hamburger{
	display: none;
}



/* top nav complete*/



.nodisplay{
	display: none;
}

/*contact content*/

#image{
	width: 100%;
	height: 400px;
}
.contactitem{
	display: flex;
	
}
.form{
	border: 2px solid gray;
	border-radius: 5px;
  background-color: #333;
  padding: 20px;
  color: #000;
}


}
.beforeform{
	border: 2px solid #fff;
	background-color: #bed150 !important;
	padding: 20px;

}
#bfr{
	width: 40%;
}
h1,h2{
	text-align: center;
}
p{
	text-align: center;
	padding: 10px;
}



.form input[type=text],input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: #333;
}

.form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form input[type=submit]:hover {
  background-color: #45a049;
}

label{
	color: #fff;
}
.map{
	padding: 10%;

}
iframe{
	width: 100%;
	height: 550px;
}













#footer{
	background-color: #000;
	color: #fff;
	margin-top: 90px;
	padding: 4% 10%;
	font-size: 1.5rem;

}
#footer i{
	margin: 20px;
}
#footer #top{
	float: right;
}


@media screen and (max-width: 768px)
{
 .logo{
 	width: 80px;
 	height: 60px;
 }
 #item{
 	display: block;
 	width: 100%;
 }
 .item{
 	flex-direction: column;
 	height: 200px;
 }
 .hamburger{
 	display: inline-block;
 	float: right;
 	font-size: 2 rem;
 	margin-right: 10px;
 }
 .seconditem{
 	font-size: 1rem;
 	justify-content: space-around;
 	padding: 0;
 }
 .hide{
	display: none !important;
}
.m{
	margin-left: 0;
}
.search{
	flex-basis: 40%;
}
.search input{
	width: 60%;
}


/* nav done*/


.t{
	margin-right: 40%;
}
.contactitem{
	flex-direction: column;
	align-items: center;
}
iframe{
	height:300px;
}




}
